@model AerLingus.Models.Flight_Records
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Record Details</h1>
<h3>First Name: @Model.firstName</h3>
<h3>Last Name: @Model.lastName</h3>
<h3>Identifier Number: @(Model.identifierNo == null ? "-" : Model.identifierNo)</h3>
<h3>Transaction Type: @(Model.transactionType == null ? "-" : Model.transactionType)</h3>
<h3>Other FFP Number: @(Model.otherFFPNo == null ? "-" : Model.otherFFPNo)</h3>
<h3>Other FFP Scheme: @(Model.otherFFPScheme == null ? "-" : Model.otherFFPScheme)</h3>
<h3>Partner Transaction Number: @(Model.partnerTransactionNo == null ? "-" : Model.partnerTransactionNo)</h3>
<h3>Booking  Date: @(Model.bookingDate == null ? "-" : Model.bookingDate.ToString())</h3>
<h3>Departure Date: @Model.departureDate</h3>
<h3>Origin: @Model.origin</h3>
<h3>Destination: @Model.destination</h3>
<h3>Booking Class: @Model.bookingClass</h3>
<h3>Cabin Class: @(Model.cabinClass == null ? "-" : Model.cabinClass)</h3>
<h3>Marketing Flight Number: @Model.marketingFlightNo</h3>
<h3>Marketing Airline: @Model.marketingAirline</h3>
<h3>Operating Flight Number: @Model.operatingFlightNo</h3>
<h3>Operating Airline: @Model.operatingAirline</h3>
<h3>External Pax ID: @(Model.externalPaxID == null ? "-" : Model.externalPaxID)</h3>
<h3>Ticket Number: @(Model.ticketNo == null ? "-" : Model.ticketNo)</h3>
<h3>Coupon Number: @(Model.couponNo == null ? "-" : Model.couponNo)</h3>
<h3>PNR Number: @Model.pnrNo</h3>
<h3>Distance: @(Model.distance == null ? "-" : Model.distance.ToString())</h3>
<h3>Base Fare: @(Model.baseFare == null ? "-" : Model.baseFare.ToString())</h3>
<h3>Discount Base: @(Model.discountBase == null ? "-" : Model.discountBase.ToString())</h3>
<h3>Excise Tax: @(Model.exciseTax == null ? "-" : Model.exciseTax.ToString())</h3>
<h3>Customer Type: @(Model.customerType == null ? "-" : Model.customerType)</h3>
<h3>Promotion Code: @(Model.promotionCode == null ? "-" : Model.promotionCode)</h3>
<h3>Ticket Currency: @(Model.ticketCurrency == null ? "-" : Model.ticketCurrency)</h3>
<h3>Target Currency: @(Model.targetCurrency == null ? "-" : Model.targetCurrency)</h3>
<h3>Exchange Rate: @(Model.exchangeRate == null ? "-" : Model.exchangeRate.ToString())</h3>
<h3>Fare Basis: @(Model.fareBasis == null ? "-" : Model.fareBasis)</h3>