@model AerLingus.Models.Flight_Records 
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Record Details</h1>
<h3> ID: @Model.identifierNo  </h3>
@*<h3>Putnik Name: @Model.Ime</h3>
<h3>Let ID: @Model.LetID</h3>
<h3>Let Name: @Model.Let.Naziv</h3>
<h3>Let Date: @Model.Let.Datum</h3>*@

