@model AerLingus.Models.Flight_Records
@{
    ViewBag.Title = "FlightRecordForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new flight record</h2>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "AI",
        Value = "AI"
    });
    listItems.Add(new SelectListItem
    {
        Text = "AB",
        Value = "AB",

    });

}

@using (Html.BeginForm("FlightRecordForm", "FlightRecordsController"))
{
    <div class="form-group">
        @Html.LabelFor(fr => fr.identifierNo)
        @Html.TextBoxFor(fr => fr.identifierNo, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(fr => fr.transactionType)
        @Html.DropDownListFor(fr => fr.transactionType, listItems, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.otherFFPNo)
        @Html.TextBoxFor(fr => fr.otherFFPNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.otherFFPScheme)
        @Html.TextBoxFor(fr => fr.otherFFPScheme, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.firstName)
        @Html.TextBoxFor(fr => fr.firstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.lastName)
        @Html.TextBoxFor(fr => fr.lastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.partnerTransactionNo)
        @Html.TextBoxFor(fr => fr.partnerTransactionNo, new { @class = "form-control" })
    </div>
    //potreban datetimepicker!!!
    <div class="form-group">
        @Html.LabelFor(fr => fr.departureDate)
        @Html.EditorFor(fr => fr.departureDate, new { htmlAttributes = new { @class = "datepicker form-control" } })
    </div>
    //dodat datepicker
    <div class="form-group">
        @Html.LabelFor(fr => fr.departureDate)
        @Html.EditorFor(fr => fr.departureDate, new { htmlAttributes = new { @class = "datepicker form-control" } })
    </div>

}

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


@section scripts {
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-10:+10",
                showOn: "both",
                buttonText: "<i class='fa fa-calendar' style='font - size:74x'></i>"

            })
        })
    </script>
}

@*@using (Html.BeginForm("DodavanjePutnika", "Putnik"))
    {
        <div class="form-group">
            @Html.LabelFor(p => p.PutnikID)
            @Html.TextBoxFor(p => p.PutnikID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Ime)
            @Html.TextBoxFor(p => p.Ime, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.LetID)
            @Html.DropDownListFor(p => p.LetID, new SelectList(ViewBag.Letovi, "LetID", "Naziv"), "Select Let", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Sacuvaj</button>}*@





