@model AerLingus.Models.Flight_Records
@{
    ViewBag.Title = "FlightRecordForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>

    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
    <link rel="stylesheet/less" type="text/css" href="~/Content/bootstrap-datetimepicker-build.less" />

</head>

<h2>Add new flight record</h2>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "AI",
        Value = "AI"
    });
    listItems.Add(new SelectListItem
    {
        Text = "AB",
        Value = "AB",

    });

    List<SelectListItem> listItems2 = new List<SelectListItem>();
    listItems2.Add(new SelectListItem
    {
        Text = "F",
        Value = "F"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "J",
        Value = "J",

    });
    listItems2.Add(new SelectListItem
    {
        Text = "W",
        Value = "W",

    });
    listItems2.Add(new SelectListItem
    {
        Text = "Y",
        Value = "Y",

    });

    List<SelectListItem> listItems3 = new List<SelectListItem>();
    listItems3.Add(new SelectListItem
    {
        Text = "A",
        Value = "A"
    });
    listItems3.Add(new SelectListItem
    {
        Text = "C",
        Value = "C",

    });
    listItems3.Add(new SelectListItem
    {
        Text = "I",
        Value = "I",

    });

    List<SelectListItem> listItems4 = new List<SelectListItem>();
    listItems4.Add(new SelectListItem
    {
        Text = "EUR",
        Value = "EUR"
    });
    listItems4.Add(new SelectListItem
    {
        Text = "GBP",
        Value = "GBP",

    });
    listItems4.Add(new SelectListItem
    {
        Text = "USD",
        Value = "USD",

    });


}

@using (Html.BeginForm("FlightRecordForm", "FlightRecordsController"))
{
    <div class="form-group">
        @Html.LabelFor(fr => fr.identifierNo)
        @Html.TextBoxFor(fr => fr.identifierNo, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(fr => fr.transactionType)
        @Html.DropDownListFor(fr => fr.transactionType, listItems, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.otherFFPNo)
        @Html.TextBoxFor(fr => fr.otherFFPNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.otherFFPScheme)
        @Html.TextBoxFor(fr => fr.otherFFPScheme, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.firstName)
        @Html.TextBoxFor(fr => fr.firstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.lastName)
        @Html.TextBoxFor(fr => fr.lastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.partnerTransactionNo)
        @Html.TextBoxFor(fr => fr.partnerTransactionNo, new { @class = "form-control" })
    </div>
    //potreban datetimepicker!!!
    <div class="form-group">
        @Html.LabelFor(fr => fr.bookingDate)
        @Html.EditorFor(fr => fr.bookingDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>


    //dodat datepicker
    <div class="form-group">
        @Html.LabelFor(fr => fr.departureDate)
        @Html.EditorFor(fr => fr.departureDate, new { htmlAttributes = new { @class = "datepicker form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.origin)
        @Html.TextBoxFor(fr => fr.origin, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.destination)
        @Html.TextBoxFor(fr => fr.destination, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.bookingClass)
        @Html.TextBoxFor(fr => fr.bookingClass, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.cabinClass)
        @Html.DropDownListFor(fr => fr.transactionType, listItems2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.marketingFlightNo)
        @Html.TextBoxFor(fr => fr.marketingFlightNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.marketingAirline)
        @Html.TextBoxFor(fr => fr.marketingAirline, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.operatingFlightNo)
        @Html.TextBoxFor(fr => fr.operatingFlightNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.operatingAirline)
        @Html.TextBoxFor(fr => fr.operatingAirline, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.ticketNo)
        @Html.TextBoxFor(fr => fr.ticketNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.externalPaxID)
        @Html.TextBoxFor(fr => fr.externalPaxID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.couponNo)
        @Html.TextBoxFor(fr => fr.couponNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.pnrNo)
        @Html.TextBoxFor(fr => fr.pnrNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.distance)
        @Html.TextBoxFor(fr => fr.distance, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.baseFare)
        @Html.TextBoxFor(fr => fr.baseFare, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.discountBase)
        @Html.TextBoxFor(fr => fr.discountBase, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.exciseTax)
        @Html.TextBoxFor(fr => fr.exciseTax, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.customerType)
        @Html.DropDownListFor(fr => fr.customerType, listItems3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.promotionCode)
        @Html.TextBoxFor(fr => fr.promotionCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.ticketCurrency)
        @Html.DropDownListFor(fr => fr.ticketCurrency, listItems4, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(fr => fr.targetCurrency)
        @Html.DropDownListFor(fr => fr.targetCurrency, listItems4, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.exchangeRate)
        @Html.TextBoxFor(fr => fr.exchangeRate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(fr => fr.fareBasis)
        @Html.DropDownListFor(fr => fr.fareBasis, listItems4, new { @class = "form-control" })
    </div>

}

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


@section scripts {
    @*<script src="~/Scripts/jquery-ui.min.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-10:+10",
                    showOn: "both",
                    buttonText: "<i class='fa fa-calendar' style='font - size:74x'></i>"

                })
            })
        </script>*@
    <script type="text/javascript">
        $(function () {
            $('#bookingDate').datetimepicker({
                format: 'L',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
            $('#bookingDate').datetimepicker({
                format: 'LT',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 15
            });
        });
}
    </script>
}






