@model AerLingus.View_Models.SearchViewModel
@{
    ViewBag.Title = "SearchFlightRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Search Flight Record</h2>
    <div class="col-md-5">
        @using (Html.BeginForm("GetSearchedFlightRecords", "FlightRecords", FormMethod.Get))
        {
            <h4>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</h4>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_identifierNo)
                @Html.TextBoxFor(fr => fr.Search.S_identifierNo, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_otherFFPNo)
                @Html.TextBoxFor(fr => fr.Search.S_otherFFPNo, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_firstName)
                @Html.TextBoxFor(fr => fr.Search.S_firstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_lastName)
                @Html.TextBoxFor(fr => fr.Search.S_lastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_departureDate)
                <div>
                    @Html.EditorFor(fr => fr.Search.S_departureDate, new { htmlAttributes = new { @class = "datepicker1 form-control", type = "text", autocomplete = "off" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_Origin)
                @Html.TextBoxFor(fr => fr.Search.S_Origin, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_destination)
                @Html.TextBoxFor(fr => fr.Search.S_destination, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_bookingClass)
                @Html.TextBoxFor(fr => fr.Search.S_bookingClass, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_operatingAirline)
                @Html.TextBoxFor(fr => fr.Search.S_operatingAirline, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_ticketNo)
                @Html.TextBoxFor(fr => fr.Search.S_ticketNo, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_externalPaxID)
                @Html.TextBoxFor(fr => fr.Search.S_externalPaxID, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(fr => fr.Search.S_pnrNo)
                @Html.TextBoxFor(fr => fr.Search.S_pnrNo, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-success">Search</button>
        }
    </div>
    <div class="col-md-6">
        @if (ViewBag.A)
        {
            if (!Model.FlightRecords.Any())
            {               
            <h2>No records match search criteria.</h2>
            }
            else
            {
                @Html.ActionLink("Export To CSV", "ExportToCSV")
                foreach (var record in Model.FlightRecords)
                {
                <h6>@Html.ActionLink(record.firstName, "RecordDetails")</h6>
                }
            }
        }
    </div>
</div>

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $(".datepicker1").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-10:+10",
                showOn: "both",
                buttonText: "<i class='fa fa-calendar' style='font - size:74x'></i>"
            })
        })
    </script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <script type="text/javascript"></script>
}